<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugvictims.demo11.Mapper.InviteRequestFileMapper">
    <insert id="insertInviteFile" parameterType="com.bugvictims.demo11.Pojo.InviteRequest">
        INSERT INTO invite_request_file(file, invite_id, type, create_time, update_time)
        VALUES 
            <foreach collection="inviteFiles" item="file" separator=",">
                (#{file.fileData}, #{file.linkedID}, #{file.fileType}, #{file.createTime}, #{file.updateTime})
            </foreach>
    </insert>
</mapper>