<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugvictims.demo11.Mapper.RecruitLabelMapper">
    <insert id="addRecruitLabel" parameterType="com.bugvictims.demo11.Pojo.Recruit" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO recruit_label (recruit_id, label, create_time, update_time)
        VALUES
        <foreach collection="labels" item="labelItem" separator=",">
            (#{id}, #{labelItem}, #{createTime}, #{updateTime})
        </foreach>
    </insert>

    <select id="selectRecruitLabelByRecruitIds" parameterType="java.util.List" resultType="com.bugvictims.demo11.Pojo.Label">
        SELECT recruit_id AS seekerId, id, label, create_time, update_time
        FROM recruit_label
        WHERE recruit_id IN 
        <foreach collection="recruitIds" separator="," open="(" close=")" item="recruitId">
            #{recruitId}
        </foreach>
    </select>
</mapper>