<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugvictims.demo11.Mapper.SeekerLabelMapper">
    <insert id="insertSeekerLabel" parameterType="com.bugvictims.demo11.Pojo.Seeker" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO seeker_label (seeker_id, label, create_time, update_time)
        VALUES
        <foreach collection="labels" item="labelItem" separator=",">
            (#{id}, #{labelItem}, #{createTime}, #{updateTime})
        </foreach>
    </insert>
    
    <select id="selectSeekerLabelBySeekerID" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT * FROM seeker_label
        WHERE seeker_id=#{seekerID}
    </select>

    <select id="selectSeekerLabelBySeekerIDs" parameterType="java.util.List" resultType="com.bugvictims.demo11.Pojo.Label">
        SELECT * FROM seeker_label
        WHERE seeker_id IN
        <foreach collection="seekerIDs" item="seekerID" open="(" close=")" separator=",">
            #{seekerID}
        </foreach>
    </select>
</mapper>