<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugvictims.demo11.Mapper.SeekerFileMapper">
    <insert id="insertSeekerFile" parameterType="com.bugvictims.demo11.Pojo.Seeker">
        INSERT INTO seeker_file(seeker_id, file, type, create_time, update_time)
        VALUES
            <foreach collection="files" separator=",">
                (#{linkedID}, #{fileData}, #{fileType}, #{createTime}, #{updateTime})
            </foreach>
    </insert>

    <select id="selectSeekerFileByIds" parameterType="java.util.List" resultType="com.bugvictims.demo11.Pojo.PojoFile">
        SELECT (id, seeker_id, file, type, create_time, update_time)
        FROM seeker_file
        WHERE id IN 
        <foreach collection="seekerIds" item="seekerID" open="(" separator="," close=")">
            #{seekerID}
        </foreach>
    </select>
</mapper>